---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	font-family: $mainFont;
	font-size: 16px/1.4;
	background-color: $backColor;
	color: $frontColor;
}

.container {
	margin: 0 auto;
	max-width: 740px;
	padding: 0 10px;
	width: 100%;
}

p {
	margin: 15px 0;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	line-height: 1.7;
	margin: 1em 0 15px;
	padding: 0;

	@include mobile {
		line-height: 1.4;
	}
}

h1 {
  font-size: 1em;

	&:before {
		content: "# ";
	}
}

h2 {	
	&:before {
		content: "## ";
	}
}

h2 {	
	&:before {
		content: "### ";
	}
}

article>header {
	
	h1 {
		color: #eee;
		font-weight: bold;
		margin-bottom: 0;
		text-transform: lowercase;
		
		&:before {
			content: "/**\A  * ";
			white-space: pre;
		}
		
	}
	
	p.date {
		margin-top: 0;
		color: #eee;
		
		&:before {
			content: " * \A  * @date ";
			white-space: pre;
			font-weight: bold;
		}
		
		&:after {
			content: "\A  */";
			white-space: pre;
			font-weight: bold;
		}
	}
}

a {
	color: $frontLighterColor;
	text-decoration: underline;
	cursor: pointer;
	
	&:hover, &:active {
		color: $activeColor;
	}
}

ul, ol {
	margin: 15px 0;
	padding-left: 30px;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
	margin: 0;
}

ul ul, ol ul {
	list-style-type: circle;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

img {
	max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
	max-width: none;
}

.date {
	font-style: italic;
	color: $frontDarkerColor;
}

// Specify the color of the selection
::-moz-selection {
	color: $black;
	background: $frontLighterColor;
}
::selection {
	color: $black;
	background: $frontLighterColor;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
	margin-bottom: 50px;
	border-bottom: 3px solid $frontDarkestColor;
	background-color: $frontDarkestOfDarkColor;
}

.masthead {
	padding: 20px 0;
	
	h1 {
		&:before {
			content: "";
		}
	}
	
	a {
		text-decoration: none;
	}
	
	@include mobile {
		text-align: center;
	}
}

.site-info {
	float: left;

	a {
		text-decoration: none;
	}

	@include mobile {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

.site-name {
	margin: 0;
	color: $frontDarkestColor;
	cursor: pointer;
	font-size: 28px;
	letter-spacing: 1px;
}

.site-description {
	margin: -5px 0 0 0;
	color: $frontDarkestColor;
	font-size: 16px;

	@include mobile {
		margin: 3px 0;
	}
}

nav {
	float: right;
	margin-top: 23px;

	@include mobile {
		float: none;
		margin-top: 9px;
		display: block;
		font-size: 16px;
	}

  a {
    margin-left: 20px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
//      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
	padding-bottom: 2em;
	border-bottom: 1px solid $frontDarkestColor;
}

.posts > .post:last-child {
	padding-bottom: 1em;
	border-bottom: none;
}

.post {
	blockquote {
		margin: 1.8em .8em;
		border-left: 2px solid $frontDarkerColor;
		padding: 0.1em 1em;
		color: $frontDarkestColor;
		font-size: 22px;
		font-style: italic;
	}

	.comments {
		margin-top: 10px;
	}

	.read-more {
		text-transform: uppercase;
		font-size: 15px;
	}
}

.wrapper-footer {
    margin-top: 50px;
    border-top: 3px solid $frontDarkestColor;
    border-bottom: none;
    background-color: $frontDarkestOfDarkColor;
}

footer {
	padding: 20px 0;
	text-align: center;
}


code {
	font-family: $codeFont;
	color: $activeColor;
}


@import "highlights";

.highlight {
	background-color: #282828;
	border: none;

	.gi {
		color: #3ee666;
		background-color: #444;
	}

	.gd {
		color: #fb414f;
		background-color: #444;
	}
}

