body {
	font-family: 'Inconsolata', monospace;
	color: #ccc;
	background-color: #222;
}

a {
    color: #fff;
    text-decoration: underline;
}

.highlight {
	background-color: #282828;
	border: none;
}

code {
	font-family: 'Cutive Mono', monospace;
	color: #abe2ff;
}

article>header {
	
	h1, h2, h3 {
		font-family: 'Inconsolata', monospace;
		font-size: 1em;
		color: #eee;
		font-weight: bold;
		margin-bottom: 0;
		
		&:before {
			content: "/**\A  * ";
			white-space: pre;
		}
		
	}
	
	p.date {
		font-family: 'Inconsolata', monospace;
		margin-top: 0;
		color: #eee;
		
		&:before {
			content: " * @date ";
			white-space: pre;
			font-weight: bold;
		}
		
		&:after {
			content: "\A  */";
			white-space: pre;
			font-weight: bold;
		}
	}
}

.highlight .gi {
    color: #3ee666;
    background-color: #444;
}

.highlight .gd {
    color: #fb414f;
    background-color: #444;
}

.masthead {
	border: none;

	.site-name {
		font-family: 'Inconsolata', monospace;
		color: #eee;
		
		a {
			text-decoration: none;
		}
	}
}

.wrapper-masthead {
    background-color: #111;
    border-bottom: 3px solid #444;
}

.wrapper-footer {
    margin-top: 50px;
    border-top: 3px solid #444;
    border-bottom: none;
    background-color: #111;
}

nav a {
	text-decoration: none;
}

a, nav a, nav a:visited {
	color: #fff;
}

a:hover {
	color: #4183C4;
}
