body {
	font-family: $mainFont;
	background: $backColor;
	color: $frontColor;
}


.masthead {
	border: none;

	.site-name {
		font-family: 'Inconsolata', monospace;
		color: #eee;
		
		a {
			text-decoration: none;
		}
	}
}

.wrapper-masthead {

}

.wrapper-footer {
    margin-top: 50px;
    border-top: 3px solid #444;
    border-bottom: none;
    background-color: #111;
}

nav a {
	text-decoration: none;
}

a, nav a, nav a:visited {
	color: #fff;
}

a:hover {
	color: #4183C4;
}

.posts {

	a, p {
		color: #eee;
	}
}
