
//
// VARIABLES
//

// Colors
$black: #000;
$white: #fff;

$backColor: #222;

$frontColor: #ccc;
$frontDarkerColor: #888;
$frontDarkestColor: #444;
$frontDarkestOfDarkColor: #111;
$frontLighterColor: #eee;


$activeColor: #4183C4;


// fonts
$mainFont: 'Inconsolata', monospace;
$headerFont: 'Inconsolata', monospace;
$codeFont: 'Cutive Mono', monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
